asgiref==3.9.0
attrs==25.3.0
Automat==25.4.16
beautifulsoup4==4.12.3
boltons==21.0.0
bracex==2.6
cachetools==6.1.0
cairocffi==1.7.1
carbon @ git+https://github.com/graphite-project/carbon.git@aa7974eec5dd68452f32f95cc25dc5426cf1c072
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-option-group==0.5.7
colorama==0.4.6
constantly==23.10.4
crossplane==0.5.8
defusedxml==0.7.1
Deprecated==1.2.18
Django==3.0.14
django-tagging==0.4.3
exceptiongroup==1.2.2
face==24.0.0
glom==22.1.0
googleapis-common-protos==1.70.0
graphite-web==1.1.10
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.10
importlib_metadata==7.1.0
incremental==24.7.2
jellyfish==1.1.0
jproperties==2.1.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
luhn==0.2.0
lxml==5.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
packaging==25.0
peewee==3.18.1
protobuf==4.25.8
psycopg2-binary==2.9.10
pycparser==2.22
Pygments==2.19.2
pyparsing==3.2.3
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rich==14.0.0
rpds-py==0.26.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
semgrep==1.85.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.3
tomli==2.0.2
Twisted==25.5.0
txAMQP==0.8.2
typing_extensions==4.12.2
urllib3==2.5.0
wcmatch==8.5.2
whisper @ git+https://github.com/graphite-project/whisper.git@94c3a611ecf42defd8f48f71196c77b0f6e0f7af
whispers==2.4.0
wrapt==1.16.0
zipp==3.23.0
zope.interface==7.2
